<div>
  <div>
    <h3>Пользователь</h3>
  </div>
  <div>
    <div>
      <label>Имя пользователя</label>
      <div><%= @user.username %></div>
    </div>
    <div>
      <label>E-mail</label>
      <div><%= @user.email %></div>
    </div>
  </div>
</div>
